#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>

/*
 * Charybdis mini36 — раскладка портирована с QMK tbkmini (keymap.c).
 * Слои: 0 BASE, 1 LOWER, 2 RAISE, 3 COMMAND, 4 FUNC, 5 ADJUST,
 *       6 POINTER (мышь, удержание Z), 7 SCROLL (drag-scroll), 8 SNIPE (точность).
 * Трекбол: scroll-layers=<7>, snipe-layers=<8> заданы в charybdis_right.overlay.
 * OS = Linux (GUI = Super). RGB на плате нет — убран.
 */

/* Глобальная настройка layer-tap (&lt), в т.ч. &lt 6 Z для слоя мыши */
&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        /* Home-row mods (urob «timeless»), позиционные */
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };
        /* Tap-dance: 1 тап = Ctrl+Alt+B (tmux), 2 тапа = caps-word (умный капс).
           tapping-term 250мс — окно для распознавания двойного тапа. */
        td_tmux: tap_dance_tmux {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LC(LA(B))>, <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            display-name = "BASE";
            bindings = <
&kp GRAVE   &kp Q         &kp W         &kp E          &kp R          &kp T         &kp Y     &kp U          &kp I          &kp O         &kp P         &kp LBKT
&kp MINUS   &hml LGUI A   &hml LALT S   &hml LCTRL D   &hml LSHFT F   &kp G         &kp SEMI  &hmr RSHFT H   &hmr RCTRL J   &hmr RALT K   &hmr RGUI L   &kp SQT
&kp EQUAL   &lt 6 Z       &kp X         &kp C          &kp V          &kp B         &kp N     &kp M          &kp COMMA      &kp DOT       &lt 6 FSLH    &kp RBKT
                                        &lt 3 TAB      &lt 1 SPACE    &lt 2 BSPC    &lt 1 SPACE  &lt 4 ENTER  &lt 3 ESC
            >;
        };

        layer_1 {
            display-name = "LOWER";
            bindings = <
&kp LGUI    &kp N1           &kp N2      &kp N3     &kp N4     &kp N5          &kp N6      &kp N7      &kp N8      &kp N9       &kp N0      &kp RGUI
&kp LCTRL   &kp EXCL         &kp AT      &kp HASH   &kp DLLR   &kp PRCNT       &kp CARET   &kp AMPS    &kp STAR    &kp LPAR     &kp RPAR   &kp RCTRL
&kp LALT    &kp NON_US_HASH  &kp TILDE   &kp LBKT   &kp RBKT   &kp KP_MINUS    &kp PIPE    &kp LBRC    &kp RBRC    &kp COMMA    &kp DOT    &kp RALT
                                         &none      &none      &kp DEL         &kp ENTER   &kp LG(SPACE)  &td_tmux
            >;
        };

        layer_2 {
            display-name = "RAISE";
            bindings = <
&kp LGUI    &kp KP_SLASH     &kp N7   &kp N8   &kp N9   &kp KP_MINUS    &kp KP_SLASH     &kp N7   &kp N8   &kp N9   &kp KP_MINUS  &kp CAPS
&kp LCTRL   &kp KP_ASTERISK  &kp N4   &kp N5   &kp N6   &kp KP_PLUS     &kp KP_ASTERISK  &kp N4   &kp N5   &kp N6   &kp KP_PLUS   &kp KP_NUM
&kp LALT    &kp N0           &kp N1   &kp N2   &kp N3   &kp KP_DOT      &kp N0           &kp N1   &kp N2   &kp N3   &kp KP_DOT    &kp RALT
                                      &none    &none    &none           &mo 5            &kp ENTER &none
            >;
        };

        layer_3 {
            display-name = "CMD";
            bindings = <
&none   &none   &none   &none          &none          &none      &none   &kp HOME   &kp PSCRN   &kp PG_UP    &none      &none
&none   &none   &none   &kp Y          &kp P          &kp ESC    &none   &kp LEFT   &kp DOWN    &kp UP       &kp RIGHT  &none
&none   &none   &none   &kp RC(RS(C))  &kp RC(RS(V))  &kp ENTER  &none   &kp END    &none       &kp PG_DN    &none      &none
                        &none          &none          &kp DEL    &none   &none      &none
            >;
        };

        layer_4 {
            display-name = "FUNC";
            bindings = <
&kp LGUI    &kp F5   &kp F6   &kp C_BRI_DN      &kp C_BRI_UP       &none      &kp C_MUTE    &kp C_PREV   &kp LG(D)             &kp F11   &kp F12   &kp RGUI
&kp LCTRL   &kp F3   &kp F4   &kp LG(LBKT)      &kp LG(RBKT)       &none      &kp C_VOL_UP  &kp C_PP     &kp LG(A)             &kp F9    &kp F10   &kp RCTRL
&kp LALT    &kp F1   &kp F2   &kp RC(RS(LEFT))  &kp RC(RS(RIGHT))  &none      &kp C_VOL_DN  &kp C_NEXT   &kp C_AL_CALCULATOR   &kp F7    &kp F8    &kp RALT
                              &none             &mt LSHFT SPACE    &lt 5 TAB  &none         &none        &none
            >;
        };

        layer_5 {
            display-name = "ADJ";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none    &none   &none   &none   &none   &none   &none
&bt BT_CLR    &none         &none         &none         &none         &none    &none   &none   &none   &none   &none   &none
&bootloader   &none         &none         &none         &none         &none    &none   &none   &none   &none   &none   &bootloader
                                          &none         &none         &none    &none   &none   &none
            >;
        };

        layer_6 {
            display-name = "PTR";
            bindings = <
&trans  &trans     &trans    &mkp MB4   &mkp MB5   &trans        &trans  &mkp MB5   &mkp MB4   &trans     &trans    &trans
&trans  &kp LALT   &kp LGUI  &kp LCTRL  &kp LSHFT  &trans        &trans  &kp RSHFT  &kp RCTRL  &kp RGUI   &kp RALT  &trans
&trans  &trans     &mo 7     &mo 8      &trans     &bootloader   &trans  &trans     &mo 8      &mo 7      &trans    &trans
                             &mkp MB2   &mkp MB1   &mkp MB3      &mkp MB3  &mkp MB1   &mkp MB2
            >;
        };

        layer_7 {
            display-name = "SCRL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_8 {
            display-name = "SNIP";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
